*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
} /*! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
:after,
:before {
  --tw-content: "";
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family:
    DM Mono,
    ui-monospace,
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(242 241 239 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(28 28 26 / var(--tw-text-opacity, 1));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.z-50 {
  z-index: 50;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.-mt-16 {
  margin-top: -4rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-1\.5 {
  height: 0.375rem;
}
.h-10 {
  height: 2.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-14 {
  height: 3.5rem;
}
.h-3\.5 {
  height: 0.875rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-\[41\.6px\] {
  height: 41.6px;
}
.h-\[45\.6px\] {
  height: 45.6px;
}
.h-px {
  height: 1px;
}
.min-h-\[45\.6px\] {
  min-height: 45.6px;
}
.w-1\.5 {
  width: 0.375rem;
}
.w-12 {
  width: 3rem;
}
.w-3\.5 {
  width: 0.875rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-56 {
  width: 14rem;
}
.w-6 {
  width: 1.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-full {
  width: 100%;
}
.max-w-7xl {
  max-width: 80rem;
}
.max-w-\[1072px\] {
  max-width: 1072px;
}
.max-w-\[259px\] {
  max-width: 259px;
}
.max-w-\[367px\] {
  max-width: 367px;
}
.max-w-\[948px\] {
  max-width: 948px;
}
.max-w-md {
  max-width: 28rem;
}
.max-w-xl {
  max-width: 36rem;
}
.cursor-pointer {
  cursor: pointer;
}
.list-none {
  list-style-type: none;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-flyto-ink {
  --tw-border-opacity: 1;
  border-color: rgb(28 28 26 / var(--tw-border-opacity, 1));
}
.border-flyto-ink\/10 {
  border-color: rgba(28, 28, 26, 0.1);
}
.border-flyto-navy {
  --tw-border-opacity: 1;
  border-color: rgb(30 45 74 / var(--tw-border-opacity, 1));
}
.border-flyto-sand\/10 {
  border-color: hsla(40, 10%, 94%, 0.1);
}
.border-transparent {
  border-color: transparent;
}
.bg-\[\#e5e4e0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 228 224 / var(--tw-bg-opacity, 1));
}
.bg-flyto-gold {
  --tw-bg-opacity: 1;
  background-color: rgb(201 169 110 / var(--tw-bg-opacity, 1));
}
.bg-flyto-mist {
  --tw-bg-opacity: 1;
  background-color: rgb(232 228 218 / var(--tw-bg-opacity, 1));
}
.bg-flyto-mist\/40 {
  background-color: hsla(43, 23%, 88%, 0.4);
}
.bg-flyto-muted\/30 {
  background-color: hsla(60, 5%, 40%, 0.3);
}
.bg-flyto-navy {
  --tw-bg-opacity: 1;
  background-color: rgb(30 45 74 / var(--tw-bg-opacity, 1));
}
.bg-flyto-navy\/10 {
  background-color: rgba(30, 45, 74, 0.1);
}
.bg-flyto-sand {
  --tw-bg-opacity: 1;
  background-color: rgb(242 241 239 / var(--tw-bg-opacity, 1));
}
.bg-flyto-sand\/20 {
  background-color: hsla(40, 10%, 94%, 0.2);
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.p-10 {
  padding: 2.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.pb-0\.5 {
  padding-bottom: 0.125rem;
}
.pb-32 {
  padding-bottom: 8rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pt-16 {
  padding-top: 4rem;
}
.text-center {
  text-align: center;
}
.font-display {
  font-family:
    Playfair Display,
    Georgia,
    serif;
}
.font-mono {
  font-family:
    DM Mono,
    ui-monospace,
    monospace;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[10\.4px\] {
  font-size: 10.4px;
}
.text-\[16\.8px\] {
  font-size: 16.8px;
}
.text-\[17\.6px\] {
  font-size: 17.6px;
}
.text-\[18\.4px\] {
  font-size: 18.4px;
}
.text-\[23px\] {
  font-size: 23px;
}
.text-\[25\.6px\] {
  font-size: 25.6px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.leading-10 {
  line-height: 2.5rem;
}
.leading-4 {
  line-height: 1rem;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-8 {
  line-height: 2rem;
}
.leading-\[19\.5px\] {
  line-height: 19.5px;
}
.leading-\[22\.75px\] {
  line-height: 22.75px;
}
.leading-\[25\.2px\] {
  line-height: 25.2px;
}
.leading-\[25\.3px\] {
  line-height: 25.3px;
}
.leading-\[33px\] {
  line-height: 33px;
}
.leading-\[35px\] {
  line-height: 35px;
}
.leading-none {
  line-height: 1;
}
.tracking-\[0\.26px\] {
  letter-spacing: 0.26px;
}
.tracking-\[0\.3px\] {
  letter-spacing: 0.3px;
}
.tracking-\[1\.2px\] {
  letter-spacing: 1.2px;
}
.tracking-normal {
  letter-spacing: 0;
}
.text-flyto-gold {
  --tw-text-opacity: 1;
  color: rgb(201 169 110 / var(--tw-text-opacity, 1));
}
.text-flyto-ink {
  --tw-text-opacity: 1;
  color: rgb(28 28 26 / var(--tw-text-opacity, 1));
}
.text-flyto-muted {
  --tw-text-opacity: 1;
  color: rgb(107 107 96 / var(--tw-text-opacity, 1));
}
.text-flyto-muted\/50 {
  color: hsla(60, 5%, 40%, 0.5);
}
.text-flyto-navy {
  --tw-text-opacity: 1;
  color: rgb(30 45 74 / var(--tw-text-opacity, 1));
}
.text-flyto-sand {
  --tw-text-opacity: 1;
  color: rgb(242 241 239 / var(--tw-text-opacity, 1));
}
.text-flyto-sand\/40 {
  color: hsla(40, 10%, 94%, 0.4);
}
.text-flyto-sand\/50 {
  color: hsla(40, 10%, 94%, 0.5);
}
.text-flyto-sand\/60 {
  color: hsla(40, 10%, 94%, 0.6);
}
.text-flyto-sand\/70 {
  color: hsla(40, 10%, 94%, 0.7);
}
.shadow-flyto {
  --tw-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored:
    0 1px 1.5px var(--tw-shadow-color), 0 1px 1px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.placeholder\:text-flyto-muted\/40::-moz-placeholder {
  color: hsla(60, 5%, 40%, 0.4);
}
.placeholder\:text-flyto-muted\/40::placeholder {
  color: hsla(60, 5%, 40%, 0.4);
}
.last\:border-b-0:last-child {
  border-bottom-width: 0;
}
.hover\:bg-flyto-sand:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(242 241 239 / var(--tw-bg-opacity, 1));
}
.hover\:text-flyto-ink:hover {
  --tw-text-opacity: 1;
  color: rgb(28 28 26 / var(--tw-text-opacity, 1));
}
.hover\:text-flyto-navy:hover {
  --tw-text-opacity: 1;
  color: rgb(30 45 74 / var(--tw-text-opacity, 1));
}
.hover\:text-flyto-sand:hover {
  --tw-text-opacity: 1;
  color: rgb(242 241 239 / var(--tw-text-opacity, 1));
}
.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.focus\:absolute:focus {
  position: absolute;
}
.focus\:left-4:focus {
  left: 1rem;
}
.focus\:top-4:focus {
  top: 1rem;
}
.focus\:z-50:focus {
  z-index: 50;
}
.focus\:border-flyto-navy:focus {
  --tw-border-opacity: 1;
  border-color: rgb(30 45 74 / var(--tw-border-opacity, 1));
}
.focus\:bg-white:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.focus\:px-4:focus {
  padding-left: 1rem;
  padding-right: 1rem;
}
.focus\:py-2:focus {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.focus\:text-sm:focus {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.focus\:text-flyto-navy:focus {
  --tw-text-opacity: 1;
  color: rgb(30 45 74 / var(--tw-text-opacity, 1));
}
@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .md\:mt-28 {
    margin-top: 7rem;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-auto {
    height: auto;
  }
  .md\:min-h-\[590px\] {
    min-height: 590px;
  }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .md\:grid-cols-\[1fr_64px_1fr_1fr\] {
    grid-template-columns: 1fr 64px 1fr 1fr;
  }
  .md\:grid-cols-\[259px_1fr\] {
    grid-template-columns: 259px 1fr;
  }
  .md\:grid-cols-\[282px_1fr\] {
    grid-template-columns: 282px 1fr;
  }
  .md\:grid-cols-\[452px_1fr\] {
    grid-template-columns: 452px 1fr;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:justify-start {
    justify-content: flex-start;
  }
  .md\:justify-center {
    justify-content: center;
  }
  .md\:border-0 {
    border-width: 0;
  }
  .md\:border-b-0 {
    border-bottom-width: 0;
  }
  .md\:border-r {
    border-right-width: 1px;
  }
  .md\:border-flyto-ink\/10 {
    border-color: rgba(28, 28, 26, 0.1);
  }
  .md\:bg-transparent {
    background-color: transparent;
  }
  .md\:p-0 {
    padding: 0;
  }
  .md\:p-8 {
    padding: 2rem;
  }
  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }
  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .md\:pb-\[126px\] {
    padding-bottom: 126px;
  }
  .md\:text-\[35\.2px\] {
    font-size: 35.2px;
  }
  .md\:text-\[35\.856px\] {
    font-size: 35.856px;
  }
  .md\:text-\[47\.8px\] {
    font-size: 47.8px;
  }
  .md\:leading-\[44\.82px\] {
    line-height: 44.82px;
  }
  .md\:leading-\[44px\] {
    line-height: 44px;
  }
  .md\:leading-\[59\.76px\] {
    line-height: 59.76px;
  }
  .md\:last\:border-r-0:last-child {
    border-right-width: 0;
  }
}
